body {
    background-color: #E9EBEE;
    color: #383838;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

/* Header */

#navMain {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.logo-left {
    height: 40px;
}

.img-user {
    height: 30px;
    width: auto;
}

.justify-content-start {
    margin: 33px;
    margin-top: 33px;
}

/* Perfil */

.avatar-perfil-dono {
    height: 100px;
}

.avatar-perfil-pet {
    height: 70px;
    margin-top: -15px;
    margin-left: 25px;
}

.perfil-dono-name {}

/* Pets */

.pet-like {
    cursor: pointer;
    margin-bottom: 5%;
}

.pet-like .pet-img {
    width: 100%;
}

.pet-image {}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-out;
    background-color: #f1592a;
    z-index: 1;


}

.pet-like-option {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.pet-like .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.overlay:hover {
    opacity: 0.7;
}

.pet-like-option span:hover {
    font-size: 30px;
    transition: all 0.5s ease-out;
}


/* Chat */

.chat-bar {
    text-align: center;
    margin-left: 2%;
}

.chat-bar li {
    padding: 16px 2px 2px 2px;
}

.chat-user-avatar {
    height: 50px;
    width: auto;
}

.chat-pet-list {
    text-align: center;
    margin-left: 2%;
}

.chat-pet-list li {
    display: inline-block;
    margin-left: -25px;
}

.chat-pet-avatar {
    height: 40px;
    width: auto;
}

.chat-user-name {
    color: #464646;
    padding-left: 2px;
    text-align: center;
}

.chat-user-pet img {
    height: 30px;
    width: auto;
}

/* Lista Pets*/

.pet-img {
    height: 200px;
}

.pet-opcoes {
    text-align: center;
}

.side-one {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
}

.avatar-icon img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#sidebarCollapse:hover {
    background-color: #be1e2d;
}

.sidebar-container {
    width: 20%;
}

.sidebar-direita,
.wrapper,
.sidebar-container {
    background: #F6F6F6;
    float: left;
    border-radius: 5px;
}

.wrapper {
    width: 50%;
    margin-left: 2%;
}

.sidebar-direita {
    width: 20%;
    margin-left: 2%;
}

* {
    outline: none !important;
}

.sidebar-margin-top {
    margin-top: 2%;
}

.another-profile {
    margin-bottom: 5%;
}

.rounded-circle:hover {
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.2);
}

.nav-link {
    text-decoration: none;
}

.nav-tabs {
    border: none;
}

.bg-info {
    background-color: #000B29 !important;
}

.btn-info {
    background-color: #000B29 !important;
    border: #000B29;
}


.one-line {
    border: none;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.one-line:focus {
    border: none;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.margin-top-150 {
    margin-top: 150px;
}

#logohome {
    margin-top: 30px;
}

#txthome {
    font-size: 50%;
    margin-top: 30px;
}

#form{
    margin-top: 30px;
}

.conteudo{
    background: #F6F6F6;
    border-radius: 8px;
    margin-top: 10px;
    
}
#mov{
    padding-top:37px;
}
#chat{
    padding-left:50px;
}
#imgcadastrodog{
    margin-top:20px;
    margin-left:0px;
    border: 3px solid #dbdbdb;
    height:90px;
    
}
.imgmeudog{
     margin-top:0px;
     height: 150px;
     width: 150px;
     margin-top:20px;
}
.txtmeupet{
    margin-left: 100px;
}

a.nav-link.text-light {
    cursor: pointer;
}