body{
    background-color:#E9EBEE;
    color:#3e3e3e;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    background-image: url("images/logo/rommel.jpeg");
}

.wrapper {
    margin: 33px;
    margin-top: 10px;
}

#sidebarCollapse:hover {
    background-color: #be1e2d;
}

.sidebar-container {
    width: 20%;
}